$green-dark:   #a06ffb;
$green-light:   #cfe383;


$theme-colors: (
  "primary": #a06ffb,
  "danger": #aa0b02
);

$primary:       $green-dark;
$btn-color: "white";
$accordion-icon-width:                    1.875rem;
$accordion-icon-color:                    $green-dark;
$accordion-icon-active-color:             $green-light;

@import '~bootstrap/scss/bootstrap.scss';
